ul.menu {
  position: relative;
  display: flex;
  justify-content: space-between; 
  width: 25%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 10px;
    a {
      i.fa {
        display: inline-block;
        height: 65px;
        width: 65px;
        text-align: center;
        line-height: 30px;
        padding: 17px;
        border-radius: 40px;
        color: #424242;
        position: relative;
        transition: all ease 0.2s;

        &::after {
          content:" ";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 100%;
          width: 100%;
          z-index: -1;
          border-radius: 40px;
          background-color: #9E9E9E;
        }

        &:hover {
          color: #fff;
          font-size: 18px;

          &::after {
            animation: animate ease 0.6s forwards;
          }
        }
      }

      i.fa-facebook:hover {
        &::after {
          background-color: #3b5998;
        }
      }

      i.fa-bandcamp:hover {
        &::after {
          background-color: #00aced;
        }
      }

      i.fa-instagram:hover {
        &::after {
          background-color: #8a3ab9;
        }
      }

      i.fa-youtube-play:hover {
        &::after {
          background-color: #ff0000;
        }
      }
    }
  }
}

@keyframes animate {

  0%,
  20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: #9E9E9E;
  }

  30% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
    border-radius: 10px;
  }

  60%,
  100% {
    transform: scale(1);
    border-radius: 5px;
  }
}

@media (max-width: 1280px) {
 ul.menu {
   width: 35%;    
  }   
}

@media (max-width: 1024px) {
  ul.menu {
    top: 60%;
    width: 45%;
  }
}

@media (max-width: 768px) {
  ul.menu {
    top: 52%;
    width: 45%;
  }
}

@media (max-width: 764px) {
  ul.menu {
    top: 58%;
    width: 60%;
    transform: translate(-50%, -50%);

    li {
      a {
        i.fa {
          display: inline-block;
          height: 45px;
          width: 45px;
          text-align: center;
          line-height: 30px;
          padding: 7px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  ul.menu {
    top: 58%;
    width: 60%;
    transform: translate(-50%, -50%);
    li {
     a {
       i.fa {
         display: inline-block;
         height: 45px;
         width: 45px;
         text-align: center;
         line-height: 30px;
         padding: 7px;
       }
      }
     }
    }
 }

 @media (max-width: 400px) {
   ul.menu {
     top: 58%;
     width: 70%;
     transform: translate(-50%, -50%);

     li {
       a {
         i.fa {
           display: inline-block;
           height: 45px;
           width: 45px;
           text-align: center;
           line-height: 30px;
           padding: 7px;
         }
       }
     }
   }
 }
/*@ media (max-width: 414px) {
  ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    li {      
      a {
        i.fa {
          display: inline-block;
          height: 45px;
          width: 45px;
          text-align: center;
          line-height: 30px;
          padding: 6px;
        }
      }
    }
  }
} */

@media (max-width: 375px) {
  ul.menu {
    top: 52%;
    width: 70%;
  li {
    a {
      i.fa {
        display: inline-block;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 30px;
        padding: 7px;
      }
    }
  }
  }
  }